* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f242d;
}

.contact h2 {
    color: #ededed;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input__box {
    display: flex;
    justify-content: space-between;
}

.input__box .input__field {
    width: 48.5%;
}

.field .item {
    background: transparent;
    width: 100%;
    padding: 18px;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 1rem;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

form .textarea__field .item {
    resize: none;
}

form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.5s;
}

form button:hover{
    box-shadow: none;
}

.field .error-txt {
    color: #d93025;
    font-size: 14.5px;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}